@use "../../../Scss/mixin";
@use "../../../Scss/reset";
@use "../../../Scss/vars";

.section3{
    @include mixin.Flex(column,center,center,31px);
    background-color: vars.$background-color;
    padding-top: 148px;
    &-title{
        @include mixin.Manrope(29px,400,40px);
        color: vars.$text-color;
    }
}