@use "../../../Scss/mixin";
@use "../../../Scss/reset";
@use "../../../Scss/vars";

.section6{
    @include mixin.Flex(column,center,center,64px);
    background-color: vars.$background-color;
    margin-top: 221px;
    padding: 115px 334px;
    background-image: url("../../../assets/Homepage/png/bgIcons.png");
    &-box{
        @include mixin.Flex(column,center,center,42px);
        &__textbox{
            @include mixin.Flex(column,center,center,32px);
            &-title{
                @include mixin.Manrope(51px,400,52px);
                color: vars.$text-color;
            }
            &-text{
                @include mixin.Manrope(18px,400,26px);
                color: vars.$text-color;
            }
        }
        &__btn{
            @include mixin.IBM(13px,400,20px);
            color: vars.$text-color;
            background-color: vars.$button-color;
            padding: 15px 42px;
            border-radius: 200px;
        }
    }
}   