@mixin Flex($fd,$jc,$ai,$gp){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
}

@mixin Manrope($fs,$fw,$lh){
    font-family: 'Manrope',sans-serif;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@mixin IBM($fs,$fw,$lh){
    font-family: 'IBM Plex Mono',monospace;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}